{% extends 'base.html.twig' %}

{% block body %}

<div class="wrapper content-80">
    <div class="feed-content">
        <ul>
            {% for content in contents %}
                <li>
                    <h5 class="content-title">
                        <a href="{{ content.guid }}" target="_blank">{{ content.title }}</a> 
                        <a class="content-feed-link text-success" href="{{ path('feed.view', {'id': content.feed.id}) }}">
                            <span><em>{{ content.feed.title }}</em></span>
                        </a>
                    </h5>
                    <p class="content-desc">{{ content.description }}</p>
                    
                </li>   
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
